@if(projectsService.projectsResource.isLoading()){
<h1>Cargando</h1>
}

<div class="flex flex-col sm:flex-row bg-fablab-bg">
  <!-- Filtro  -->
  <filter-component
    class="hidden lg:flex"
    (filtrosAplicados)="recibirFiltros($event)"
  />

  <div class="gap-2"></div>

  <div class="flex flex-col items-end gap-4">
    <!-- Order by  -->

    <!-- <order-by /> -->

    @if(projectsService.projectsResource.hasValue()){

    <section
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 sm:gap-5 md:gap-6 lg:gap-6 xl:gap-8 max-w-[1600px] mx-auto p-4"
    >
      <app-card
        *ngFor="
          let proyecto of projectsData()! | filterProjects : filtrosRecibidos()
        "
        [title]="proyecto.title"
        [description]="proyecto.description"
        [imgUrl]="proyecto.imgUrl"
        [date]="proyecto.date | date"
        [category]="proyecto.categoria"
        [routerLink]="[proyecto.projectId]"
      ></app-card>
    </section>
    }
    <!-- Cards  -->
  </div>
</div>
