<div class="bg-fablab-bg">
  <div
    class="navbar text-fablab-accent shadow-md px-6 py-4 rounded-b-2xl border-b border-fablab-border"
  >
    <div class="navbar-start">
      <div class="dropdown">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost lg:hidden text-fablab-text-primary"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-fablab-card-bg rounded-box w-52"
        >
          @for (names of menuItems; track $index) {
          <li>
            <a
              [routerLink]="['/', names.url]"
              (click)="testButton(names.url)"
              class="text-fablab-text-primary hover:text-fablab-primary font-semibold transition duration-200"
            >
              {{ names.name }}
            </a>
          </li>
          }
        </ul>
      </div>
      <a class="text-4xl font-bold tracking-wide ml-2 text-fablab-accent"
        >FabLab</a
      >
    </div>

    <div class="navbar-center hidden lg:flex grow">
      <ul class="menu menu-horizontal gap-6 justify-center w-full">
        @for (names of menuItems; track $index) {
        <li>
          <a
            [routerLink]="['/', names.url]"
            class="hover:text-fablab-primary hover:bg-fablab-accent transition duration-200 font-medium text-[15px] text-fablab-text-primary"
          >
            {{ names.name }}
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="navbar-end gap-2 hidden lg:flex">
      <a
        class="px-4 py-2 bg-fablab-accent hover:bg-fablab-accent-dark rounded-xl text-black transition cursor-pointer"
        href="http://localhost:4200"
      >
        Inscripción
      </a>
    </div>
  </div>
</div>
